.Работы_закончены_и_оплачены{
  background: #9b60c8 !important;
  color: #f6f8f5 !important;
}
.mystyle2{
  background: #6199ca !important;
}
.mystyle3{
  background: #458a50 !important;
}
.mystyle4{
  background: #b7a730 !important;
}